.auth-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container p {
    display: flex;
    justify-content: center;
    align-content: center;
}

.auth-container .login-btn {
    padding: 0 0.5rem;
}