.auth-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container .login-btn {
    padding: 0 0.5rem;
}

.auth-container .submit {
    cursor: pointer;
} 

.chat-app-bg {
    margin-bottom: 1rem;
}