.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  background-color: #6078a8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-app-bg {
  background-color: #96c8b7;
}

.app h1 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  letter-spacing: 0.5rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #447866, #8ac0e4);
}

.app form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.app ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.app input {
  min-width: 30vw;
  border: 1.5px solid #91d0bb;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #d6f2ec;
  box-shadow: 2px 2px 5px #adc6b5;
}

.app button {
  background-color: #7fae9e;
  color: #e2f2ff;
  border: 2px solid #94b0de;
  box-shadow: 2px 2px 5px #76917e;
  border-radius: 5px;
  padding: 0.3rem;
}

.app button:hover {
  background-color: #6078a8;
}

/* DISALLOW CHAT */
.disallow-chat p {
  margin: 2rem 0;
}

#circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

div.myCircle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #acc0e8;
}

div.myCircle2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #96c8b7;
}

div.myCircle3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #acc2be;
}

div.myCircle1, div.myCircle2, div.myCircle3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: width 1s, height 1s;
}

div.myCircle1:hover, div.myCircle2:hover, div.myCircle3:hover {
  width: 30px;
  height: 30px;
}

/* FOOTER */
footer {
  color: #7fa99b;
  letter-spacing: 0.5rem;
  font-size: 0.7rem;
  margin: 12rem 0 1rem;
}